{% extends 'base.html' %}

{% block title_block %}
<title>Resume Page</title>
{% endblock %}


{% block body_block %}
    <h1>Resume for {{ current_user.username }} <a class="btn btn-warning" href="/resume/edit">Edit</a></h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %} 
    <h2>Basic Info</h2>
    <p>Portrait: <img class="img-fluid" alt="Responsive image" src="{{ current_user.resume.basic_info.portrait_URL }}"></p>
    <p>Name: {{ current_user.resume.basic_info.name }}</p>
    <p>Nation: {{ current_user.resume.basic_info.nation }}</p>
    <p>Region: {{ current_user.resume.basic_info.region }}</p>
    <p>Birth: {{ current_user.resume.basic_info.birth }}</p>


{% endblock %}