{% extends 'base.html' %}

{% block title_block %}
<title>Resume Page</title>
{% endblock %}


{% block body_block %}
    {% if has_basic_info_form_data %}
    <h1>Editing Resume for {{ current_user.username }}</h1>
    {% else %}
    <h1>Ok, {{ current_user.username }}, let's get started with your resume</h1>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <form action="{{ url_for('recipes.edit_resume', resume_type = 'basic_info') }}" method="post" name="edit_basic_resume_info" enctype="multipart/form-data">
        {{ basic_info_form.csrf_token }}
        <p>
            {{ basic_info_form.portrait.label }}<br>
            {% if has_basic_info_form_data %}
                <p>Currently using: <img class="img-fluid" alt="Responsive image" src="{{ current_user.resume.basic_info.portrait_URL }}"></p>
            {% endif %}
            {{ basic_info_form.portrait() }}<br>
        </p>
        <p>
            {{ basic_info_form.name.label }}<br>
            {{ basic_info_form.name() }}<br>
        </p>
        <p>
            {{ basic_info_form.nation.label }}<br>
            {{ basic_info_form.nation() }}<br>
        </p>
        <p>
            {{ basic_info_form.region.label }}<br>
            {{ basic_info_form.region() }}<br>
        </p>
        <p>
            {{ basic_info_form.birth.label }}<br>
            {{ basic_info_form.birth() }}<br>
        </p>
        <p><input class="btn btn-primary" type="submit" value="Save"> <a class="btn btn-danger" href="/resume">Cancel</a></p>
    </form>
    <script>
        let country_selected = document.getElementById('nation')
        let region_selected = document.getElementById('region')
        country_selected.onchange = function(){
            country_code = country_selected.value
            fetch('/resume/region/' + country_code).then(function(response){
                response.json().then(function(data){
                    let option_html = ''
                    for(let region of data.regions){
                        option_html += '<option value="' + region[0] + '">' + region[1] + '</option>'
                    }
                    region_selected.innerHTML = option_html;
                })
            })
        }
    </script>
    

{% endblock %}