##########################################################
#
# This is a cfg for developing this Flask application
#
##########################################################
import os


# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = os.urandom(24)
WTF_CSRF_ENABLED = True
DEBUG = True

# SQLAlchemy
# SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'app.db')
TESTING = True
SQLALCHEMY_DATABASE_URI = 'sqlite:///:memory:'
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Image upload
UPLOADED_AVATARS_DEST = os.path.join(BASEDIR, 'uploads')
