{% extends "base.html" %}

{% block title_block %}
    <title>Sign in Page</title>
{% endblock %}

{% block body_block %}
  <h1>Sign in</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
   {% endwith %}
  <form action="" method="post" name="login">
      {{ form.csrf_token }}
      <p>
          {{ form.username.label }}<br>
          {{ form.username(size=80) }}<br>
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} {{ form.remember_me.label}}</p>{{ form.submit(hidden='true', id='form-submit') }}   
      <p><button onclick="press_submit()" type="button" class="btn btn-primary" id="modal-confirm">Log in</button><a class="btn btn-secondary" href="/signup">Sign up</a></p>
  </form>
  <script>
      function press_submit(){
          document.getElementById('form-submit').click()
      }
  </script>
{% endblock %}